body {
  background-color: rgb(33, 33, 33);
  overflow-x: hidden;
}
h1 {
  color: white;
  padding: 1em;
}
/*nav-bar*/

.netflix-navbar {
  background-color: rgb(33, 33, 33);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(206 206 206 / 80%);
}

.nav-link:hover {
  color: white;
}
.netflix-navbar a {
  color: rgb(206 206 206 / 80%);
}

.navbar-brand img {
  width: 100px;
}
nav-link.dropdown-toggle {
  color: rgb(206 206 206 / 80%);
}
a.nav-link.dropdown-toggle.dropdown-toggle::after {
  content: none;
}
.dropdown-menu.show {
  background-color: rgb(33, 33, 33);
  opacity: 70%;
}
i {
  color: rgb(206 206 206 / 80%);
}
a.kids {
  padding: 8px;
  text-decoration: none;
}
.profile {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 2px;
  margin-left: 8px;
}
.profile img {
  width: 100%;
}
.bi::before,
[class*=" bi-"]::before,
[class^="bi-"]::before {
  color: rgb(206 206 206 / 80%);
}
button.navbar-toggler {
  border: none;
}
.btn.btn-outline-success {
  border: none;
}

/*section*/

section button {
  background-color: black;
  color: white;
  border-color: white;
}
section ul.dropdown-menu.show {
  background-color: lightgray;
  opacity: 70%;
}

/*movies*/

/*footer*/
